@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1> 
    @foreach (var item in Model.Details)
    {
        <p>Id = @item.Id</p>
        <p>Name =@item.Name</p>
    }

</div>
